body{
    background-color:#FFAD00;
}



header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    height: 80px;
    align-items: center;
}
.menu{
    display:flex;
    flex-direction: row;
    padding-right:8%;
    
}

.menu div{
    padding-left:15px;
    
}

*{
    padding:0;
    margin: 0;
}
a{
    text-decoration: none;
    color:black;
    display:inline-block;
    background-color:#FFAD00;
    padding:12px 32px;
    border-radius:6px;
}

header{
    font-family: "Danfo", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "ELSH" 0;
  }
  body{
    font-family: "Danfo", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "ELSH" 0;
  }
  main{
    font-size: xx-large;
  }
.swieca{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}
.swieca img{
    width:35%;
    height:400px;
    border-radius: 20px;
    border:6px solid black ;
}
.cartoon{
    width: 50px;
    height:50px;
}
footer{
    
    width: 100%;
}

.pisac{
    padding-left: 6%;
    padding-right: 6%;
}
.block {
    display: block;
    width: 100%;
    border: none;
    background-color: #000000;
    padding: 14px 30px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin-left: 0;
  }
